---
# Main sass file to be converted to css
---

body {
  font-family: 'Source Code Pro', monospace;
}

section {
  padding: 40px;
  width: 900px;
  max-width: 90%;
  line-height: 1.2;
}

nav {
  padding: 40px;
  background-color: black;
}

.tab {
  font-size: 1.25rem;
  color: white;
}

pre {
  font-size: 12pt;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  border: solid 1px #d0d0d0;
  max-width: 100%;
  overflow: auto;
}
