.header {
  display: flex;
  color: white;
  background-color: black;
  margin: auto;
  max-width: 960px;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

.nav {
  display: flex;
  height: 64px;
  margin-left: auto;
}

.tab {
  font-size: 1.25rem;
  color: white;
}
